<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>DashBoard</h1>
    </div>
  </div>
</div>
<!-- Part of Panels -->
<div class="row">
  <div class="col-md-3">
    <div class="ds-panel ds-panel-blue">
      <div class="ds-panel-header">
        B
      </div>
      <div class="ds-panel-footer">
        View details
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="ds-panel ds-panel-green">
      <div class="ds-panel-header">
        G
      </div>
      <div class="ds-panel-footer">
        View details
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="ds-panel ds-panel-yellow">
      <div class="ds-panel-header">
        Y
      </div>
      <div class="ds-panel-footer">
        View details
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="ds-panel ds-panel-red">
      <div class="ds-panel-header">
        R
      </div>
      <div class="ds-panel-footer">
        View details
      </div>
    </div>
  </div>
</div>
<!-- Part of Charts -->
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Chart 1
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-6">
              <img alt="140x140" width="100%" class="img-circle" src="/assets/fruits-abc4b528cfd5dc0ca85e45a4e2c86d042ef1253d06f5ccb519e8d45498297327.jpg">
            </div>
            <div class="col-md-6">
              <img alt="140x140" width="100%" class="img-circle" src="/assets/fruits-abc4b528cfd5dc0ca85e45a4e2c86d042ef1253d06f5ccb519e8d45498297327.jpg">
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            <img alt="140x140" width="100%" class="img-circle" src="/assets/fruits-abc4b528cfd5dc0ca85e45a4e2c86d042ef1253d06f5ccb519e8d45498297327.jpg">
          </div>
          <div class="row">
            <div class="col-md-6">
              <img alt="140x140" width="100%" class="img-circle" src="/assets/fruits-abc4b528cfd5dc0ca85e45a4e2c86d042ef1253d06f5ccb519e8d45498297327.jpg">
            </div>
            <div class="col-md-6">
              <img alt="140x140" width="100%" class="img-circle" src="/assets/fruits-abc4b528cfd5dc0ca85e45a4e2c86d042ef1253d06f5ccb519e8d45498297327.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Chart 2
      </div>
      <div class="panel-body">
        img 2
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Chart 3
      </div>
      <div class="panel-body">
        img 3
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Panel 1
      </div>
      <div class="panel-body">
        img 1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Panel 2
      </div>
      <div class="panel-body">
        img 2
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-header">
        Panel 3
      </div>
      <div class="panel-body">
        img 3
      </div>
    </div>
  </div>
</div>
