<footer>
  <div class="container-fluid">

    <div class="row ">
      <div class="col-md-3">
        <h4>關於我們</h4>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>會員中心</h4>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>網站導覽</h4>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>客服中心</h4>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <address>
           © Andy Wang , 2016
        </address>

      </div>
    </div>

  </div>
</footer>
